<div class="bubble t1">
    <h3>About this site...</h3>
    <h1>Sofolio</h1>
    <span class="post">Posted by Sohail on 2-4-2021 - 2:37pm</span>

    <div>
        <br>
        <span>This site was created as a project by myself, Sohail Selky, in December of 2020.</span>
        <p>The idea was that I
            did not see a concise way of presenting my past and present projects in a clear,
            concise way. I could have linked my github profile, requiring any prospective employers
            to leaf through projects to determine what was relevant and what was busywork. Instead,
            I wanted to feature certain projects and talk about why they were important, what I learned,
            what I would do differently, and what potential next steps might look like. I don't know
            that there is a website that will allow users to post projects with more focus on a
            profile-based interface like this, so I decided to make my own.
        </p>
        <p>After hearing from some friends in the industry that Angular CLI and Firebase were gaining
            traction, I decided that this would be a good opportunity to pick the framework up and flex
            my skills. It has been challenging thus far, but I'm learning a lot.
        </p>
        <span>The name is quite simply a joining of my first name and the word 'portfolio'.</span>
        <span>Thanks for stopping by!</span>
    </div>
</div>

<div class="bubble t1">
    <h3>About the creator...</h3>
    <h1>Sohail Selky</h1>
    <span class="post">Posted by Sohail on 2-4-2021 - 5:32pm</span>

    <div>
        <br>
        <span>Hi! My name is Sohail, I'm a computer science major at Texas State University and
            USMC veteran.
        </span>
        <p>Currently I'm trying to break into the software industry as a software engineer
             and UX designer for manufacturing or defense software. I love creating complex solutions that are more than just functional!
             I absolutely believe that good form <i>is</i> good function.
        </p>
        <p>
            I was fortunate enough to work as a technician for a manufacturing company, and
            though the work culture was centered around organization, I realized that there was
            incredible potential to rework the user systems that tracked maintenance actions. It occured
            to me that if this company, which was very competitive, was getting along using insufficient solutions, then
            it's very likely that other companies were similar (if not worse) shape. 
        </p>
    </div>
</div>