<sf-post-bubble [post]="topPost"></sf-post-bubble>

<sf-news-bubble [news]="headline"></sf-news-bubble>

<sf-post-bubble *ngFor="let post of posts" [post]="post"></sf-post-bubble>


<div class="flex-container">
	<div class="card bubble t1">
		<sf-other-bubble [post]="otherPosts[2]"></sf-other-bubble>
	</div>
	<div class="card bubble t1">
		<sf-other-bubble [post]="otherPosts[1]"></sf-other-bubble>
	</div>
	<div class="card bubble t1">
		<sf-other-bubble [post]="otherPosts[0]"></sf-other-bubble>
	</div>
</div>


<!-- <div class="flex-container">
	<div class="card bubble t1">
		<h3>Other projects - </h3>
        <h2>Asteroids</h2>
        <a href="https://turbophysics.github.io/asteroids.html">
            <img class="thumb" src="./assets/asteroids.png">
        </a>
        <a href="#">Read More</a>
    </div>
    <div class="card bubble t1">
		<h3>Other projects - </h3>
        <h2>Game of Life</h2>
        <a href="https://github.com/turbophysics/project-examples/tree/master/life">
            <img class="thumb" src="./assets/gol.png">
        </a>
        <a href="#">Read More</a>
    </div>
    <div class="bubble t1 card">
		<h3>Other projects - </h3>
        <h2>Network Simulator</h2>
        <a href="https://github.com/turbophysics/project-examples/tree/master/comp%20network">
            <img class="thumb" src="./assets/dv.png">
        </a>
        <a href="#">Read More</a>
    </div>
</div> -->


	


<!-- 
	<div class="bubble t2">
		<h3>News</h3>
		<h2>This site is being transitioned to an Angular based webapp</h2>
		<span class="post">Posted by Sohail on 1-30-2021 - 1:30pm</span>
		<p>The current and ongoing project until completion is to turn this website into webapp using Firebase and
			Angular. Features that I am trying to implement:</p>
		<ul>
			<li>User logins</li>
			<li>Profiles with past projects listed</li>
			<li>The ability to post new content through a webform</li>
			<li>A dynamic front page that loads the most recent and relevant projects</li>
		</ul>
		<span>Currently what you are seeing is a prototype of the end goal. Thanks for stopping by!</span>
	</div> -->