<div class="bubble t1">
    <h3>how to:</h3>
    <h1>Contact Me</h1>
    <span class="post">Posted by Sohail on 2-4-2021 - 5:46pm</span>

    <div>
        <br>
        <span>You can reach me in the following ways:</span>
        <ul>
            <li><a href="mailto:sds158@txstate.edu">sds158@txstate.edu</a></li>
            <li><a href="http://turbophysics.github.io" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/SelkySohail" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/sohail-selky-3bb88897/" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/sohail.selky" target="_blank">Facebook</a></li>
            </ul>
    </div>
</div>
