    <div class="container">
        <header>
            <ul class="navbar">
                <li class="link"><a class="link2" href="news">News</a></li>
                <li class="link"><a class="link2" href="contact">Contact</a></li>
                <li class="link"><a class="link2" href="about">About</a></li>
                <li class="letterhead"><a href="#" id="letterhead-link">Sofolio</a></li>
            </ul>
        </header>
    
        <nav>
            <!-- probably leaving blank -->
        </nav>
    
        <main>
    
            <router-outlet></router-outlet>
    
        </main>
    
        <aside>
            <!-- Sidebar / Ads - probably leaving blank -->
        </aside>
    
        <footer>
            <!-- Footer content -->
            Copyright © 2021 Sohail Selky
        </footer>
    </div>