<div class="bubble t2">
    <h3>News</h3>
    <h2>This site is being transitioned to an Angular based webapp</h2>
    <span class="post">Posted by Sohail on 1-30-2021 - 1:30pm</span>
    <p>The current and ongoing project until completion is to turn this website into webapp using Firebase and
        Angular. Features that I am trying to implement:</p>
    <ul>
        <li>User logins</li>
        <li>Profiles with past projects listed</li>
        <li>The ability to post new content through a webform</li>
        <li>A dynamic front page that loads the most recent and relevant projects</li>
    </ul>
    <span>Currently what you are seeing is a prototype of the end goal. Thanks for stopping by!</span>
</div>

<div class="bubble t2">
    <h3>News</h3>
    <h2>Sofolio web app has been launched!</h2>
    <span class="post">Posted by Sohail on 1-30-2021 - 12:14pm</span>
    <p>
        The very first version of this website was deployed to Firebase! It's not quite ready
        for many of the features I have planned, but this prototype will serve as the base until
        I'm able to make the functionality more robust.
    </p>
    <span>Currently what you are seeing is a prototype of the end goal. Thanks for stopping by!</span>
</div>